.First {
  background-color: rgb(77, 143, 121);
  color: white;
  height: 100px;
  width: 100px;
  font-size: 80px;
}
.First:hover {
  border: 2px solid cyan;
  box-shadow: 0px 0px 22px rgb(41, 143, 41);
  scale: 1.1;
}
.Second {
  background-color: rgb(77, 143, 121);
  color: white;
  height: 100px;
  width: 100px;
  font-size: 80px;
}
.Second:hover {
  border: 2px solid cyan;
  box-shadow: 0px 0px 22px rgb(41, 143, 41);
  scale: 1.1;
}
